# Ignore everything
/*

# Except these files & folders
!/src/**/*.{md, js, ts, tsx, css, astro}
!/public/**/*.js
!/.github
!tsconfig.json
!astro.config.mjs
!package.json
!.prettierrc
!.eslintrc.js
!README.md
